header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background-color: var(--shadow);
}

header .logo {
    color: var(--mainblue);
    font-size: 80px;
    cursor: pointer;
    transition: all 0.6s ease;
    z-index: 1000;
}

header .logo:hover {
    scale: 1.1;
    text-shadow: 0 0 10px var(--mainblue);
}

header li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

header li a {
    position: relative;
    color: var(--mainblue);
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Poppins';
    font-weight: 600;
    transition: all 0.6s ease;
}

header li a:hover {
    transform: translateY(-8px);
}

header li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--mainblue);
    transition: all 0.6s ease;
}

header li a:hover::after {
    width: 50%;
}

header .mobile-menu-icon {
    display: none;
    font-size: 50px;
    color: var(--mainblue);
    cursor: pointer;
}

header .mobile-menu {
    display: none;
}

header .mobile-menu li {
    display: none;
}

header .mobile-menu.active {
    display: block;
}

header .mobile-menu.active li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px 0;
}

@media screen and (max-width:1200px) {
    header .logo {
        font-size: 50px;
    }

    header nav {
        display: none;
    }

    header .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--shadow);
        z-index: 999;
        animation: autoShow 0.8s ease;
    }

    header .mobile-menu.active li {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    header .mobile-menu-icon {
        display: block;
        z-index: 1000;
    }
    
    header .mobile-menu.active a {
        font-size: 24px;
    }
}

@keyframes autoShow {
    0% {
        filter: blur(5px);
        transform: translateY(100%);
    }

    100% {
        filter: blur(0);
        transform: translateY(0);
    }
}