/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --shadow: #0a0a0a;
    --darkblue: #1d375c;
    --mainblue: #4b6c9f;
    --lightblue: #93a8c6;
    --offwhite: #e5e2d9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

html, body {
    background-color: var(--shadow);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: var(--shadow);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--mainblue);
    border-radius: 20px;
}


/* Animações Gerais */

/* Delays para animação em cascata */

.delay-0 {
    transition-delay: 0s;
}

.delay-1 {
    transition-delay: 0.2s;
}

.delay-2 {
    transition-delay: 0.4s;
}

.delay-3 {
    transition-delay: 0.6s;
}

/* Up Animation */

.hidden-up {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200px);
    transition: all 1.5s ease;
}

.show-up {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 1.5s ease;
}

/* Left to Right Animation */

.hidden-ltr {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s ease;
}

.show-ltr {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s ease;
}

/* Right to Left Animation */

.hidden-rtl {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.5s ease;
}

.show-rtl {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s ease;
}

/* Appears Animation */

.hidden-ap {
    opacity: 0;
    transition: all 1.5s ease;
}

.show-ap {
    opacity: 1;
    transition: all 1.5s ease;
}